Makefile
Makefile.in
.deps
configure
config.log
config.cache
config.status
config.h
stamp-h
treecc
treecc.spec
aclocal.m4
config.h.in
autom4te.cache
config.guess
config.sub
install-sh
missing
stamp-h1
depcomp
ylwrap
*.o
*.lo
*.loT
*.a
*.la
INSTALL
*~
ltmain.sh
.libs
libtool
.*.swp
*.gcno
*.gcda
*.gcov
